html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  min-width: 320px;
  height: 240px;
  position: relative;
}

.robot {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 55px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 60px;
  left: 136px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  left: 35px;
  top: 17px;
}

.robot-head-right {
  position: absolute;
  right: 35px;
  top: 17px;
}

.robot:hover .robot-brain {
  top: 33px;
}

.robot:hover .robot-head-left {
  left: 0;
  top: 10px;
}

.robot:hover .robot-head-right {
  right: 0;
  top: 10px;
}
